<div class="container d-flex justify-content-around tamanho ">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/sabão-em-pó-omo_-dê-às-suas-roupas-o-cuidado-e-carinho-que-elas-merecem!.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">OMO</h5>
          <p class="card-text">O Produto que deixa você sem odor!</p>
          <a href="#" class="btn btn-primary container-fluid">COMPRE AGORA!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;  ">
        <img src="../../assets/felnatptchr-44.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Feliz-Natal</h5>
          <p class="card-text">Natal chegando e você precisando ficar cheiroso</p>
          <a href="#" class="btn btn-primary">Compre já!</a>
        </div>
      </div>
      
</div>